# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# dbt
dvf_project/target/
dvf_project/dbt_packages/
dvf_project/logs/
dvf_project/dbt_modules/

# Credentials
.env
.dbt/

# Data (trop volumineux pour Git)
data/raw/*.txt

# OS
.DS_Store
Thumbs.db